@font-face {
    font-family: "HankenGrotesk";
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "HankenGrotesk", sans-serif;
    font-size: 1.125rem;
}

body, h1, h2, h3, h4, h5, p {
    margin: 0;
}

.text-white {
    color: hsl(0, 0%, 100%);
}

.flex {
    display: flex;
    align-items: center;
}

.results-summary-component {
    max-width: 375px;
    margin: 0 auto;
}

.component {
    padding: 1em;
}

.result {
    color: #d8ccfe;
    text-align: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 1em 1em;
}

.overall-score {
    display: inline-block; /*use inherited text-align to center*/
    width: 150px; /*are absolute values optimal here?*/
    height: 150px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    margin: 1em 0;
}

.overall-score-number {
    margin-top: 0.4em;
    font-size: 4rem;
}

.overall-score-max {
    font-size: 1rem;
    opacity: 0.5;
}

.overall-score-comparison {
    padding: 0 1em;
    margin: 1em 0 2em 0;
}

.summary {
    color: hsl(224, 30%, 27%);
}

.subscore-section {
    justify-content: space-between;
    padding: 1em;
    margin: 1em 0;
    border-radius: 10px;
}

.red-section {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
}

.yellow-section {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
}

.green-section {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);
}

.blue-section {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.1);
}

.icon {
    margin-right: 1em;
}

.subscore {
    margin-right: 0.5em;
    color: hsl(224, 30%, 27%);
    font-weight: bold;
}

.subscore-max {
    color: hsla(224, 30%, 27%, 0.5);
}

.btn {
    display: blocK;
    width: 100%;
    font-size: 1.125rem;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 2em;
    background-color: #303b59;
    margin: 1.5em auto 0;
    padding: 1em;
}

.btn:hover, .btn:focus {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

@media (min-width: 1440px) {
    .results-summary-component {
        display: flex;
        justify-content: center;
        max-width: 1440px;
    }

    .component {
        padding: 2em;
    }

    .result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 333px;
        border-radius: 1.5em;
    }

    .overall-score {
        width: 175px;
        height: 175px;
    }

    .overall-score-number {
        margin-top: 0.6em;
    }

    .summary {
        width: 25%;
    }
}